<section class="container container--over flex-center">
    <div class="card glassmorfism first-color card--row-gap height-auto">
       <h1 class="card__h1 first-font">Nota al pie</h1>
       <h2 class="card__h2 second-font">Creación de contenido y Manejo de redes sociales</h2>
       <div class="card__publicacion-container">
            <img src="../../../assets/IMG-20230118-WA0001~2.jpg" class="card__publicacion">
            <video autoplay muted loop preload="auto" #video class="card__publicacion">
                <source src="../../../assets/Tips & tricks ad - Made with Clipchamp.mp4"
                type="video/mp4">
            </video>
            <img src="../../../assets/IMG-20230118-WA0005~2.jpg" class="card__publicacion">
       </div>
       
    </div>
</section>