<section class="container container--over flex-center">
    <div class="card glassmorfism first-color card--row-gap flex-center">
        <h1 class="card__h1">Contacto</h1>
        <ul class="lista card__ul">
            <li class="card__li second-font">
                <i class="fa-brands fa-linkedin card__i"></i>
                 <a class="card__a" href="https://www.linkedin.com/in/camila-borrajo-23bb89149">camila borrajo
                </a>
            </li>
            <li class="card__li second-font">
                <i class="fa-brands fa-instagram card__i"></i>
                 <a class="card__a" href="https://instagram.com/hechadepecas?igshid=YmMyMTA2M2Y=">Cami Borrajo
                </a>
            </li>
            <li class="card__li second-font">
                <i class="fa-solid fa-envelope card__i"></i>camila.a.borrajo@gmail.com
            </li>
        </ul>
    </div>
</section>