<section class="container container--over flex-center">
    <div class="card glassmorfism first-color card--grid">
        <div class="col1 row1 card__col">
            <h1 class="first-font card__col__h1">Estudios</h1>
            <ul class="lista card__col__ul second-font">
                <li>Licenciatura en Comunicación Social en la Universidad Nacional de Quilmes. 2017 - 2023
                </li>
                <li>Tecnicatura universitaria en Producción Digital en la Universidad Nacional de Quilmes. 2021 - Actualidad
                </li>
                <li>Certificación en Community Manager & Publicidad, Coderhouse.
                </li>
            </ul>
        </div>
        <div class="col2 row1 card__col card__col--border"> 
            <h1 class="first-font card__col__h1">Experiencia</h1>
            <ul class="lista second-font card__col__ul">
                <li>Gestión de redes sociales y coordinación de grupo. <a id="linkpage" href="https://www.notaalpie.com.ar/"><b>Nota al pie</b></a>.
                </li>
            </ul>
        </div>
        <div class="col3 row1 card__col">
            <h1 class="first-font card__col__h1">Habilidades</h1>
            <ul class="lista second-font card__col__ul">
                <li>Plataformas: Facebook, Instagram, Twitter, Youtube, Tiktok</li>
                <li>Sofware: Adobe Premier, Word, Excel, Powerpoint, Canva</li>
                <li>Blandas: Creatividad, Responsabilidad, Compañerismo, Organización, Perfeccionismo, Liderazgo</li>
            </ul>
        </div>
    </div>
</section>