.hidden {
  opacity:0;
}

.console-container {
    font-size:100px;  
    color:#e8e8e8;
}

.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}

#nombre{
  position: absolute;
  bottom:5%;
  right:5%;
  font-size: 25px;
}

#fecha{
  position: absolute;
  top:5%;
  right:5%;
  font-size: 20px;
}

#subtitulo{
  font-size: 15px;
  display: flex;
  column-gap: 5px;
}

#vertical_separador{
  height: 15px;
  width: 4px;
  background: #e8e8e8;
  display: block;
}

.card--center{
  justify-content: center;
}