<section class="container container--over flex-center">
    <div class="card glassmorfism first-color card--center">
        <p class="second-font" id="nombre">Camila Borrajo</p>
        <div class='console-container first-font' >
            <span id='text'></span><div class='console-underscore' id='console'>&#95;</div>
        </div>
        <p class="second-font" id="subtitulo">Community Manager<span id="vertical_separador"></span>Marketing Digital</p>
        <p class='first-font' id="fecha">{{fecha | date:'y'}}</p>
    </div>
</section>
