<section class="container container--over flex-center">
    <div class="card glassmorfism first-color card--grid">
        <div class="card__sobre-mi row1 col1 ">
            <h1 class="card__sobre-mi__h1 first-font">Sobre mi</h1>
            <p class="card__sobre-mi__p second-font">Hola, soy Camila Borrajo, estudiante de la licenciatura en comunicacion social
                y la tecnicatura en produccion digital. 
            </p>
        </div>
        <div class="row1 col2 flex-center">
            <img class="card__img" src="../../../assets/index.jpg">
        </div>
    </div>
</section>